{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
    <style>
      .pp{
        display: inline-block;
        width: 35%;
        border: 5px solid green;
        border-radius: 50%;
        padding: 70px;
        background: #48e348;
      }
      .ii{
        font-size: 140px;
        color: white;
      }
    </style>
		<section class="container my-4 text-center">
			<h3 class="text-success">Thanks for Payment</h3>
      <br><br><br>
      <p class="pp"><i class="bi bi-check-lg ii"></i></p>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}