{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
    <style>
      .pp{
        display: inline-block;
        width: 35%;
        border: 5px solid 5px solid rgb(233 5 5);
        border-radius: 50%;
        padding: 70px;
        background: #ff0000;
      }
      .ii{
        font-size: 140px;
        color: rgb(0, 0, 0);
      }
    </style>
		<section class="container my-4 text-center">
			<h3 class="text-danger">Sorry! Please try again</h3>
      <br><br>
      <p class="pp"><i class="bi bi-x ii"></i></p>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}